!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= t("page.title")
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", :rel => "stylesheet"}/
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "modal"
    = javascript_include_tag "site"
    /[if lte IE 8]
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    / [if gt IE 8]><!
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
    / <![endif]
  %body
    = yield
  :javascript
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(101067453);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  %noscript
    %p
      %img{:alt => "Clicky", :height => "1", :src => "//in.getclicky.com/101067453ns.gif", :width => "1"}/
