.hero__wrap
  = image_tag 'logo.png', :class => 'logo'
  .hero__title
    %h1
      = t('hero.title')
  .hero__subtitle
    = t('hero.subtitle')
  .hero__buttons
    = link_to t('hero.products_button'),"#products" , :class => "pure-button", :onclick => "Jump('#products')"
    = link_to t('hero.about_us_button'), "#about_us", :title => "read about us", :class => 'secondary-button', :onclick => "Jump('#about_us')"

#about_us.about_us__wrap
  = t(:about_us)

= partial(:products, :locals => { lang: lang })

.footer__wrap
  %p
    = t('footer.contact_us')
  .social
    = link_to 'https://www.facebook.com/WiangpingLanna/' do
      = image_tag 'facebook.svg', :width=> '20'
    .line-it-button{"data-lang" => "en", "data-lineid" => "@soihok6", "data-type" => "friend", :style => "display: none;"}
    %script{:async => "async", :defer => "defer", :src => "https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js"}
