.img-wrapper
  %img.pure-img{:alt => "#{name}", :src => "#{photo}"}/
  %div
    %a.pure-button{:href => "#modal-#{name}"} View

%h3
  = name
.price
  = price
/.pure-button.add2cart{:href => "javascript:;"} Add to cart

%section.modal--show{"id"=>"modal-#{name}", "aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-inner
    %header#modal-label
      = name
    .modal-content
      %b Description
      %br
      = description
      %br
      %b Type
      %br
      = type
      %br
      %b Ingredients
      %br
      = ingredients

    %footer
      = price
  %a.modal-close{"data-close" => "Close", "data-dismiss" => "modal", :href => "#!", :title => "Close this modal"} ?
