.img-wrapper
  %img.pure-img{:alt => "#{product.name}", :src => "#{product.photo}"}/
  %div
    %a.pure-button{:href => "#modal-#{product.name}"} View

%h3
  = product.name
.price
  = product.price
/.pure-button.add2cart{:href => "javascript:;"} Add to cart

%section.modal--show{"id"=>"modal-#{product.name}", "aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-inner
    %header#modal-label
      = product.name
    .modal-content
      %b Description
      %br
      = product.description
      %br
      %b Type
      %br
      = product.type
      %br
      %b Ingredients
      %br
      = product.ingredients

    %footer
      = product.price
  %a.modal-close{"data-close" => "Close", "data-dismiss" => "modal", :href => "#!", :title => "Close this modal"} ?
