--- 
title: Soihok - your shop for happines! 
---

.container
  .hero__wrap
    = image_tag 'logo.png', :width=> '150', :class => 'logo'
    .hero__title
      %h1
        = t('hero.title')
    .hero__subtitle
      = t('hero.subtitle')
    .hero__buttons
      = link_to "See products", "http://euphorbia.soihok.com/", :class => "pure-button"
      = link_to "or read about us ...", "http://euphorbia.soihok.com/", :title => "read about us", :class => 'secondary-button'
  
  #about_us.about_us__wrap
    %p
      Our brand is dedicated to providing best quality hand made products.
      This is family run business, our story started at a small friendly shop in Thailand.
      And we're dedicated to be that small friendly soi shop with handpicked products, but in internet. 
    %p 
      We belive in doing business responsibly. This is why all our products satisfy these requirements.
    %ul
      %li Locally sourced from independent manufacturer
      %li Products that all family approves and actively uses
      %li Eco-friendly, handmade 
    %p
      We're also partnering with companies that satisfy those requirements, e.g. 
      = link_to 'Euphorbia', "http://euphorbia.soihok.com/"
  #products.products__wrap
    .products__title
      .line
      %h3
        = t('products.title')
      .line
    .products__list.pure-g
      .pure-u-1-2
        .product-body.left
          .product-field
            name
          .product-field.nth
            type
          .product-field
            ingredients
          
      .pure-u-1-2
        .product-body.right
          .product-field
            name
          .product-field.nth
            type
          .product-field 
            ingredients
        
      
    .products__footer
      = image_tag 'arrow.svg'
  .footer__wrap
    %p
      = t('footer.text')
    %p
      Facebook, Line