.container
  .hero__wrap
    = image_tag 'logo.png', :width=> '150', :class => 'logo'
    .hero__title
      %h1
        = t('hero.title')
    .hero__subtitle
      = t('hero.subtitle')
    .hero__buttons
      = link_to t('hero.products_button'),"#products" , :class => "pure-button"
      = link_to t('hero.about_us_button'), "#about_us", :title => "read about us", :class => 'secondary-button'
  
  #about_us.about_us__wrap
    = t(:about_us)
  #products.products__wrap
    .products__title
      .line
      %h3
        = t('products.title')
      .line
    .products__list.pure-g
      .pure-u-1-2
        .product-body.left
          .product-field
            Mint Soap
          .product-field.nth
            For normal, sensitive and mature skin types
          .product-field
            soap herbal products exfoliate, remove dead skin cells, absorb toxins and remove impurities from the skin pores
          .product-field.nth
            jojoba oil, palm oil, coconut oil, castor oil, olive oil, canola oil, water, lye
          
      .pure-u-1-2
        .product-body.right
          .product-field
            Coffee Soap
          .product-field.nth
            for normal, sensitive and mature skin types
          .product-field 
            coffee is readily absorbed by the skin and has an extremely light and silky feel. Coffee oil is known as anti-inflammatory, skin-softening and its excellent moisture retention properties. Scrub your skin smooth with the coffee side to leave skin soft.
          .product-field.nth
            coffee beans, palm oil, coconut oil, castor oil, olive oil, canola oil, tamarind, honey
        
      
    .products__footer
      = image_tag 'arrow.svg'
  .footer__wrap
    %p
      = t('footer.contact_us') + " <a href='mailto:hello@soihok.com'>hello@soihok.com</a>"
    .social
      Facebook,
      .line-it-button(:style="display: none;" data-lang="en" data-type="friend" data-lineid="soihok6")