.container
  .hero__wrap
    = image_tag 'logo.png', :width=> '150', :class => 'logo'
    .hero__title
      %h1
        = t('hero.title')
    .hero__subtitle
      = t('hero.subtitle')
    .hero__buttons
      = link_to t('hero.products_button'),"#products" , :class => "pure-button"
      = link_to t('hero.about_us_button'), "#about_us", :title => "read about us", :class => 'secondary-button'
  
  #about_us.about_us__wrap
    = t(:about_us)
  #products.products__wrap
    .products__title
      .line
      %h3
        = t('products.title')
      .line
    .products__list.pure-g
      .pure-u-1-2
        .product-body.left
          .product-field
            name
          .product-field.nth
            type
          .product-field
            ingredients
          
      .pure-u-1-2
        .product-body.right
          .product-field
            name
          .product-field.nth
            type
          .product-field 
            ingredients
        
      
    .products__footer
      = image_tag 'arrow.svg'
  .footer__wrap
    %p
      = t('footer.contact_us') + " hello@soihok.com"
    .social
      Facebook,
      .line-it-button(:style="display: none;" data-lang="en" data-type="friend" data-lineid="soihok6")